/*
===============
Fonts
===============
*/
//@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
===============
Variables
===============
*/


:root {
  /* dark shades of primary color*/
  --clr-primary-1: #dae0fa;
  --clr-primary-2: #b5c1f5;
  --clr-primary-3: #8fa1f0;
  --clr-primary-4: #6a82eb;
  /* primary/main color hsl(185, 62%, 45%)*/
  --clr-primary-5: #4563e6;
  /* lighter shades of primary color */
  --clr-primary-6: #374fb8;
  --clr-primary-7: #293b8a;
  --clr-primary-8: #1c285c;
  --clr-primary-9: #0e142e;
  --clr-primary-10: #070a17;
  /* secondary color */
  --clr-secondary-5: rgba(255, 190, 18, 1);
  --clr-secondary-6: #cc980e;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/* ancho */
$--container: 1200px;

/*
===============
Fonts
===============
*/

@font-face {
  font-family: 'TKambioFont';
  src: url('@/assets/fonts/Copia de ArgentumSans-Regular.ttf') format('woff2'),
  url('@/assets/fonts/Copia de ArgentumSans-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TKambioFont';
  src: url('@/assets/fonts/Copia de ArgentumSans-Regular.ttf') format('woff2'),
  url('@/assets/fonts/Copia de ArgentumSans-Regular.ttf') format('woff');
  font-weight: 300; /* Ligera */
  font-style: normal;
}

//@font-face {
//  font-family: 'TKambioFont';
//  src: url('@/assets/fonts/Copia de ArgentumSans-Medium.ttf') format('woff2'),
//  url('@/assets/fonts/TKambioFont-Bold.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//}

@font-face {
  font-family: 'TKambioFont';
  src: url('@/assets/fonts/Copia de ArgentumSans-Light.ttf') format('woff2'),
  url('@/assets/fonts/Copia de ArgentumSans-Light.ttf') format('woff');
  font-weight: 200; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'TKambioFont';
  src: url('@/assets/fonts/Copia de ArgentumSans-Bold.ttf') format('woff2'),
  url('@/assets/fonts/Copia de ArgentumSans-Bold.ttf') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
}

/*
===============
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TKambioFont', sans-serif;;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  //text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.6rem 1.2rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  //width: 100%;
  border-radius: 20px;
  //padding: 8px 0px;
  &:disabled {
    background-color: #ccc !important;
    color: #888 !important;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }
}

.btn-secondary {
  background: var(--clr-secondary-5);
  color: var(--clr-primary-10);

  &:disabled {
    background-color: #ccc !important;
    color: #888 !important;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }

}

.btn-error {
  background: red;
  color: var(--clr-white);

  &:disabled {
    background-color: #ccc !important;
    color: #888 !important;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }

}

.btn-error:hover {
  background: red !important;
  color: var(--clr-white) !important;
  &:disabled {
    background-color: #ccc !important;
    color: #888 !important;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }
}

.btn-secondary:hover {
  background: var(--clr-secondary-6) !important;
  color: var(--clr-primary-10) !important;

  &:disabled {
    background-color: #ccc !important;
    color: #888 !important;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);

  &:disabled {
    background-color: #ccc !important;
    color: #888 !important;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
  }

}

.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

.section-title span {
  color: var(--clr-primary-5);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.card {
  width: 300px;
  background: var(--clr-white);;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
}

.card-footer {
  padding: 12px 16px;
  background: #f9f9f9;
  text-align: right;
}

.card-button {
  background: var(--clr-primary-5);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.card-button:hover {
  background: var(--clr-primary-7);
}


.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 350px;
  position: relative;
}

.input-group-name {
  label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: var(--clr-white);
    padding: 0 6px;
    font-weight: 200;
    font-size: .8rem;
  }
}

.input-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-grey-7);
  z-index: 20;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  border-color: var(--clr-primary-5);
  box-shadow: 0 0 5px var(--clr-primary-7);
}

.input-error {
  border-color: #dc3545;
}

.input-error:focus {
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.3);
}

.input-message {
  font-size: 0.8rem;
  color: #dc3545;
  margin-top: 3px;
}


.w-full {
  width: 100%;
  max-width: 100%;
}

.container {
  max-width: 90%;
  width: $--container;
  margin: 20px auto;
  overflow: hidden;
}

.container-ancho {
  width: 100%;
  padding: 0 40px;
  margin: 20px auto;
}


@import "./containers";

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}